.block {
  padding-bottom: 1em;
}

.block p {
  margin-bottom: -0.8em;
}

body {
  margin: 20px;
  max-width: 800px;
  font-family: monospace;
}

#qualities {
  font-style: italic;
}

li {
  padding-bottom: 5px;
}
